<% unless @registrations.empty? %>

  <h4>Registered Camps</h4>
  <table class="table">
    <tr>
      <th width="260">Name</th>
      <th width="120">Start On</th>
      <th width="120">Payment Status</th>
      <th width="120">Points Earned</th>
      <th></th>
      <th></th>
    </tr>

  <% @registrations.each do |registration| %>
    <tr>
      <td><%= link_to registration.camp.name, camp_path(registration.camp) %></td>
      <td align="center"><%= registration.camp.start_date.strftime('%m/%d/%y') %></td>
      <td align="center">
        <% if registration.payment_status == "deposit" %> 
          <%= link_to edit_student_path(id: registration.id, status: "paid", from: "student") do %>
            <%= image_tag 'checkmark_empty.png', class: 'checkmark' %>
          <% end %>
        <% else %>
          <%= image_tag "checkmark_filled.png", class: "checkmark" %>
        <% end %>
      </td>
      <td align="center"><%= registration.points_earned %></td>
    </tr>
  <% end %>
  </table>
<% end %>