<h3>Student Details</h3><br />
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @student.proper_name %><br /><br />

<strong>Family Contact:&nbsp;&nbsp;</strong>
  <% if current_user.role? :admin %>
  	<%= link_to "#{@family.parent_first_name + " " + @family.family_name}", family_path(@family) %>
  <% else %>
  	<%= @family.parent_first_name + " " + @family.family_name %>
  <% end %><br /><br />

<strong>Age:&nbsp;&nbsp;</strong> 
  <%= @student.age %><br /><br />

<strong>Date of Birth:&nbsp;&nbsp;</strong> 
  <%= @student.date_of_birth.strftime('%m/%d/%y') %><br /><br />

<strong>Rating:&nbsp;&nbsp;</strong> 
  <%= @student.rating.zero? ? "Unrated" : @student.rating %><br /><br />

<strong>Active?&nbsp;&nbsp;</strong>
  <%= @student.active ? "Yes" : "No" %><br /><br />

<%= render partial: "partials/object_options", locals: {model_name: "student", object: @student, can_destroy: false} %>
